<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="TOURNAMENT_MODE_ENABLED">true</entry>
<entry key="STEP_DELAY">0</entry>
<entry key="AGENT_TWO_CLASSPATH">edu.iastate.cs228.game.simulation.agent.RandomActionAgent</entry>
<entry key="MAX_AGENT_MOVE_TIME_ENFORCED">false</entry>
<entry key="AGENT_ONE_CLASSPATH">C:\Users\abran\OneDrive\Documents\CS228\hw3\bin\cs228hw4\game\MyAgent.class</entry>
<entry key="NUM_SYSTEMS">20</entry>
<entry key="GALAXY_TYPE">RANDOM</entry>
</properties>
